html{
    font-size: 62.5%;
}

body {
    background-color: white;
}
.boton-principal {
    background-color: rgb(146, 0, 146);
    color: white;
    display: flex;
    font-size: 4rem;
    padding: 2rem 4rem 2rem 4rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    border-radius: 1rem;
    cursor: pointer;
}


.centrar{
    display: flex;
    justify-content: center;
}
/* .boton-neon:hover {
    color: #38EDE8;
    text-shadow: 0 0 3px #38EDE8;
    animation: none !important;
}
.boton-neon::after,
.boton-neon::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: -3px;
    top: -3px;
    border: 3px solid #165C5A;
    border-radius: 8px;
    transition: all ease-out 200ms;
    animation: efecto-luz 3s ease-in infinite normal both;
}
.boton-neon:hover::before,
.boton-neon:hover::after {
    border-color: #38EDE8;
    animation: none !important;
}
.boton-neon:hover::before {
    filter: blur(4px);
}
.boton-neon:active {
    color: #165C5A;
    text-shadow: 0 0 0 #165C5A;
}
.boton-neon:active::before,
.boton-neon:active::after {
    border-color: #165C5A;
    animation: none !important;
}

@keyframes efecto-texto-luz {
    from, 20%, 36%, to {
        color: #165C5A;
    }
    23% {
        color: #38EDE8;
    }
}

@keyframes efecto-luz {
    from, 60%, 70%, 95% {
        border-color: #165C5A;
    }
    65%, to {
        border-color: #38EDE8;
    }
} */
.container {
    height: 200px;
    position: relative;
  
}
  
.centro {
    display: flex;
    margin-top: 16rem;
}

.letra-grande{
    font-weight:normal;
    font-size: 2.6rem;
}

.navbar .navbar-brand .Logo{
    font-weight:bold;
    font-size: 3rem;
    color: rgb(146, 0, 146) ;
}

.navbar{
    background-color: rgb(180, 217, 0);
}