<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Reader</title>
  
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header><nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">PDF READER</a>
        </div>
      </nav>
      
     </header>
    <main>
        <div>
            <div class="container">
                <div class="center">
                    <input id='fileid' type='file' hidden/>
                    <button id='boton'  class="boton-neon">
                      <i class="icon-home"></i>  
                      <span>Subir Archivo</span>
                    </button>
                     <button class="boton-neon">enviar</button>
                </div>
              </div>
           
        </div>
    </main>
    <script src="script.js"></script>
</body>
</html>